<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Cập nhật thông tin</title>
</head>
<body>
    <div class="container">
    <h1 class="title">Cập nhật thông tin người dùng</h1>

    <form method="POST">
        {% csrf_token %}
        <p>Bạn là:</p>
        <br>
        <button type="submit" name="sinh_vien" class="btn-select">Sinh viên</button>
        <button type="submit" name="giang_vien" class="btn-select">Giảng viên</button>
    </form>
    <br>
    <a class="back-link" href="{% url 'danh_sach_do_an' %}">Quay lại danh sách đồ án</a>
    </div>
</body>
</html>